#chat-box-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 210px;
  height: 220px; /* chat-box height + chat-box-tab height*/
  padding: 10px;
}

#chat-box {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right: 0;*/
  display: none;
  background: white;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 10px;
  padding-bottom: 0;
  z-index: 6;
}

#chat-box-tab {
  /*position: absolute;*/
  top: 0;
  width: 40px;
  height: 20px;
  /*margin-top: -21px;*/
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: white;
}

#chat-box-tab:hover {
  cursor: pointer;
}

#chat-box-tab div {
  text-align: center;
}

#chat-box-tab div:hover {
  color: #4E8EF7;
}

#chat-messages {
  border: 1px solid black;
  list-style-type: none;
  width: 195px;
  height: 150px;
  overflow: auto;
}

#chat-box li {
 padding: 5px 10px; 
}

#chat-messages li:nth-child(odd) {
  background: #eee;
}
