#color-selector {
  border: 1px solid black;
  /*display: inline-block;*/
  background: white;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 7;
}

#color-selector-content {
  padding: 20px;
  padding-top: 10px;
}

#selector {
  width: 256px;
  height: 256px;
  border: 1px solid black;
  float: left;
  position: relative;
  overflow: hidden;
}

#selector:hover {
  cursor: crosshair;
}

#hue-selected {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ff0000;
}

#white-gradient {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -256px;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

#black-gradient {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -256px;
  background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
}

#circle-cursor {
  height: 10px;
  width: 10px;
  background: 'rgba(0,0,0,0)';
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.clickable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 'rgba(0,0,0,0)';
}

#hue-bar {
  float: left;
  margin-left: 15px;
  width: 42px;
  /*border: 1px solid black;*/
  position: relative;
  cursor: default;
}

#arrows {
  width: 42px;
  position: absolute;
  margin-top: -6px;
  /*border: 1px solid black;*/
}

.arrow {
  position: relative;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.arrow#left:before {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid white;
  margin-left: -5px;
  margin-top: -4px;
}

.arrow#left {
  border-left: 6px solid black;
  float: left;
}

.arrow#right {
  border-right: 6px solid black;
  float: right;
}

.arrow#right:before {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid white;
  margin-left: 1px;
  margin-top: -4px;
}

#hue {
  width: 25px;
  height: 256px;
  border: 1px solid black;
  margin-left: 8px;
  background: -moz-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(255,0,255,1) 17%,rgba(0,0,255,1) 33%,rgba(0,255,255,1) 50%,rgba(0,255,0,1) 66%,rgba(255,255,0,1) 83%,rgba(255,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(255,0,255,1) 17%,rgba(0,0,255,1) 33%,rgba(0,255,255,1) 50%,rgba(0,255,0,1) 66%,rgba(255,255,0,1) 83%,rgba(255,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,0,0,1) 0%,rgba(255,0,255,1) 17%,rgba(0,0,255,1) 33%,rgba(0,255,255,1) 50%,rgba(0,255,0,1) 66%,rgba(255,255,0,1) 83%,rgba(255,0,0,1) 100%);
}

#values-buttons-wrapper {
  /*border: 1px solid black;*/
  display: inline-block;
}

#color-values {
  display: inline-block;
  /*border: 1px solid black;*/
  margin-left: 25px;
  position: relative;
  float: left;
  clear: both;
}

#color-values input, #color-values label {
  float: left;
}

#color-values label {
  clear: left;
  text-align: left;
  width: 10px;
  padding-right: 10px;
  margin-bottom: 7px;
}

input {
  text-transform: uppercase;
}

#color-selector-content button {
  position: relative;
  float: left;
  clear: left;
  width: 70px;
  left: 20%;
}

#color-selector-buttons {
  /*border: 1px solid black;*/
  position: relative;
  clear: both;
  top: 15px;
}
