#layers-manager {
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 150px;
  z-index: 5;
}

#layers {
  position: relative;
  float: left;
  clear: left;
}

.layer {
  border: 1px solid black;
  display: inline-block;
  position: relative;
  float: left;
  clear: left;
}

#layers-buttons div {
  border: 1px solid black;
  display: inline-block;
}

.layer-selected {
  background: #00aaff;
  font-weight: bold;
  color: white;
}
