#layers-manager {
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 150px;
  z-index: 5;
  background: #ffffff;
  padding: 2px 10px 10px;
}

#layers {
  position: relative;
  float: left;
  clear: left;
  font-family: "Dosis",sans-serif;
  width: 100%;
}

.layer {
  border: 1px solid black;
  display: inline-block;
  position: relative;
  float: left;
  clear: left;
  width: 100%;
  text-align: center;
}

.layer:hover {
  cursor: pointer;
}

#layers-buttons div {
  /*border: 1px solid black;*/
  display: inline-block;
  padding: 3px;
}

#layers-buttons div:hover {
  cursor: pointer;
  color: #4E8EF7;
}

.layer-selected {
  background: #00aaff;
  font-weight: bold;
  color: white;
}
