#form-wrapper {
  position: relative;
  top: -5px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#form-wrapper img {
  background: white;
}

#upload-picture-form {
  position: relative;
  margin: 0 auto;
  top: 10px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
  padding: 20px;
  text-align: center;
  background: #E0E0E0;
}

.form-button {
  border: none;
  border-radius: 3px;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
}

.form-button:hover {
  cursor: pointer;
}

.upload-button {
  background: linear-gradient(to bottom, rgba(72, 181, 18, 1) 0%, rgba(61, 153, 15, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.upload-button:hover {
  background: linear-gradient(to bottom, rgba(72,181,18,1) 0%,rgba(27,119,0,1) 100%);
}

.upload-button:active {
  background: rgba(27,119,0,1);
}

.go-back-button {
  background: linear-gradient(to bottom, rgba(229,50,22,1) 0%,rgba(132,0,0,1) 100%);
  padding: 5px 5px;
}

.go-back-button:hover {
  background: linear-gradient(to bottom, rgba(229,50,22,1) 0%,rgba(96,0,0,1) 100%);
}

.go-back-button:active {
  background: rgba(132,0,0,1);
}

#upload-picture-form h1 {
  padding: 0;
  margin: 0;
}

#upload-picture-form label {
  margin-right: 10px;
  display: inline-block;
  width: 80px;
  text-align: right;
  font-family: 'Dosis', sans-serif;
}

#upload-picture-form img {
  border: 1px solid black;
  margin-top: 20px;
  /* TODO: Make width and height variable */
  width: 300px;
  height: 150px;
  display: inline-block;
}

@media screen
and (max-height : 640px) {
  #upload-picture-form img {
    width: 200px;
    height: 100px;
  }

  #upload-picture-form {
    padding: 7px;
  }

  #upload-picture-form .title {
    font-size: 2em;
  }

  #upload-picture-form label {
    /*font-size: 0.5em;*/
  }
  #upload-picture-form p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #upload-picture-form .form-button {
    font-size: 0.7em;
  }
}
