<color-selector visible="colorSelector.visible" initial-color="colorSelector.selectedColor" select-color="colorSelector.selectColor(color)"></color-selector>
<paint-tools></paint-tools>
<image-filters></image-filters>
<div id="layers-manager" drag>
  <div id="layers-buttons">
    <div ng-click="addNewLayer()" ng-mousedown="$event.stopPropagation()" class="button button-icon ion-plus"></div>
    <div ng-click="moveLayerDown()" ng-mousedown="$event.stopPropagation()" class="button button-icon ion-chevron-up"></div>
    <div ng-click="moveLayerUp()" ng-mousedown="$event.stopPropagation()" class="button button-icon ion-chevron-down"></div>
    <div ng-click="deleteSelectedLayer()" ng-mousedown="$event.stopPropagation()" class="button button-icon ion-close"></div>
  </div>
  <div id="layers">
    <div class="layer" ng-repeat="layer in getLayers(true)" ng-class="{'layer-selected': layer.isSelected}" ng-click="selectLayer(layer.id)" ng-mousedown="$event.stopPropagation(); $event.preventDefault();">Layer {{layer.id}}</div>
  </div>
</div>
<div id="whiteboard" class="board" listen-mouse-events="mode" drop-file="dropFileHandler()">
  <div id="whiteboard-background"></div>
  <canvas layer-id="{{layer.id}}" ng-repeat="layer in getLayers(false)"></canvas>
</div>
<chat-box></chat-box>
<select-room></select-room>
<div id="saved-whiteboard-wrap" ng-show='showImageSaved' ng-click="showImageSaved=false">
  <div id="saved-whiteboard-box" ng-click="$event.stopPropagation()">
    <p>Whiteboard saved!</p>
    <img id="saved-whiteboard" src="{{imageSaved}}">
    <a target="_blank" ng-href="{{imageSaved}}"><button>Download</button></a>
  </div>
</div>
