<div id='tools'>
  <button ng-repeat='(key, value) in getButtons()'>{{value.name}}</button>
</div>
<div id='selectedColors'>
  <div id='foregroundColor' selected-color color='properties.foregroundColor'></div>
  <div id='backgroundColor' selected-color color='properties.backgroundColor'></div>
  <div id='swapColors' swap-colors='swapColors()'></div>
</div>
<div id='mouseEventsDiv' class='board' listen-mouse-events handler-mouse-move='handleMouseMove(event)' handler-mouse-down='handleMouseDown(event)' handler-mouse-up='handleMouseUp(event)'>
	<canvas layer-id='{{key}}' ng-repeat='(key, value) in getLayers()'></canvas>
</div>

